/***************************
  全体
***************************/
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

/***************************
  メイン
***************************/
#vue-app,
.signin_body {
  min-height: 100vh;
  position: relative;
}

.admin {
  padding-bottom: 50px;
}

.end_user {
  padding-bottom: 300px;
}

/***************************
  フッター
***************************/
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/***************************
  メディアクエリ 768px以下
***************************/
@media (max-width: 768px) {
  .end_user {
    padding-bottom: 500px;
  }
}
